<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186915296595-2nt74t7jccocqo0fb0d21uvvc1a92s0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186915296595-2nt74t7jccocqo0fb0d21uvvc1a92s0t</string>
	<key>API_KEY</key>
	<string>AIzaSyCSGS0yW1fsL6BdXSSvGUaKFsDSrNufoP8</string>
	<key>GCM_SENDER_ID</key>
	<string>186915296595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ulam</string>
	<key>PROJECT_ID</key>
	<string>ulam-5bd3f</string>
	<key>STORAGE_BUCKET</key>
	<string>ulam-5bd3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186915296595:ios:d24de78a5174c9b0e9bda6</string>
</dict>
</plist>